*{
    background-color: #41997B;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-enlace{
	display: inline-block;
    border-radius: 4px; ;
	background-color:#006542 ;  
	color:white;
	padding: 10px 30px;
	text-decoration: none;
}
.nav-enlace:hover{
	background-color: #BDBDBD;
}
nav{
    border-radius: 4px;
	background: #00472E ;
	padding: 10px;
	/*por defecto debe tener inline block*/
	display: flex;
	justify-content: space-around;
}
.nav-boton{
	background: #0D614D;
	color: aliceblue;
	padding: 10px 0px;
	border: 2px solid aliceblue;
	display: none;
}
/*media sirve para que hagas restricciones*/
@media(max-width:600px){
	nav{
		background: black;
		flex-direction: column;
	}
	.nav-enlace{
		margin: 10px 0px;
	}
	.nav-boton{
		display: inline-block;
	}
	.desaparece{
		display: none;
	}
}
.sub{
    font-family: serif;
    font-size: 30px;
}
table{
    border-collapse: collapse;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
/* Estilos para las celdas de la tabla */
td {
    border-bottom: 2px solid #ccc; /* Cambia el estilo de la línea inferior de las celdas */
}

/* Estilos para las imágenes */
.im1, #myVideo,#myVideo2 {
    width: 100%; /* Hace que las imágenes ocupen todo el ancho disponible */
    height: auto; /* Mantiene la proporción de aspecto de las imágenes */
    margin: 10px 0; /* Agrega un espacio entre las imágenes y otros elementos */
    border-radius: 20px; /* Aplica bordes redondeados a las imágenes */
}

/* Estilos para la barra de imágenes */
.image-bar {
    display: flex;
    justify-content: center; /* Centra las imágenes horizontalmente */
    margin-top: 20px; /* Agrega espacio encima de la barra de imágenes */
}

/* Estilos para las imágenes individuales */
.image {
    width: 200px; /* Tamaño inicial de las imágenes */
    height: auto;
    margin: 0 10px; /* Espacio entre las imágenes */
    border-radius: 10px; /* Bordes redondeados para las imágenes */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor de las imágenes */
    transition: transform 0.3s ease; /* Transición suave al aumentar el tamaño */
}

/* Cambia el tamaño al pasar el cursor sobre las imágenes */
.image:hover {
    transform: scale(2.1); /* Aumenta el tamaño al pasar el cursor sobre la imagen */
}


