/* Estilos aplicados a todos los elementos */
* {
    background-color: #EAF6CE; /* Color de fondo para todos los elementos */
    font-family: Georgia, 'Times New Roman', Times, serif; /* Fuente para todos los elementos */
}

/* Estilos para los enlaces de navegación */
.nav-enlace {
    display: inline-block; /* Muestra los enlaces como bloques en línea */
    border-radius: 4px; /* Bordes redondeados */
    background-color: #006542; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 30px; /* Espaciado interno */
    text-decoration: none; /* Quita el subrayado de los enlaces */
}

/* Estilos al pasar el cursor sobre los enlaces */
.nav-enlace:hover {
    background-color: #BDBDBD; /* Cambia el color de fondo al pasar el cursor */
}

/* Estilos para la barra de navegación */
nav {
    border-radius: 4px; /* Bordes redondeados */
    background: #00472E; /* Color de fondo */
    padding: 10px; /* Espaciado interno */
    display: flex; /* Muestra los elementos en línea */
    justify-content: space-around; /* Distribuye los elementos de forma uniforme */
}

/* Estilos para el botón de menú */
.nav-boton {
    background: #0D614D; /* Color de fondo */
    color: aliceblue; /* Color del texto */
    padding: 10px 0px; /* Espaciado interno */
    border: 2px solid aliceblue; /* Borde */
    display: none; /* Oculta el botón por defecto */
}

/* Estilos para dispositivos con un ancho máximo de 600px */
@media(max-width:600px) {
    nav {
        background: black; /* Cambia el color de fondo */
        flex-direction: column; /* Cambia la dirección del contenido a vertical */
    }
    .nav-enlace {
        margin: 10px 0px; /* Agrega espacio entre los enlaces */
    }
    .nav-boton {
        display: inline-block; /* Muestra el botón como bloque en línea */
    }
    .desaparece {
        display: none; /* Oculta los elementos con la clase 'desaparece' */
    }
}

/* Estilos para subtítulos */
.sub {
    font-family: serif; /* Tipo de fuente */
    font-size: 30px; /* Tamaño del texto */
}

/* Estilos para tablas */
table {
    border-collapse: collapse; /* Colapsa los bordes de la tabla */
    text-align: center; /* Alinea el texto al centro */
    margin-left: auto; /* Centra la tabla horizontalmente */
    margin-right: auto; /* Centra la tabla horizontalmente */
}

/* Estilos para las celdas de la tabla */
td {
    border-bottom: 2px solid #ccc; /* Estilo de la línea inferior de las celdas */
}

/* Estilos para las imágenes y videos */
.im1, #myVideo, #myVideo2 {
    width: 100%; /* Ancho del elemento */
    height: auto; /* Altura ajustable para mantener la proporción de aspecto */
    margin: 10px 0; /* Espaciado entre las imágenes y videos */
    border-radius: 20px; /* Bordes redondeados */
}

/* Estilos para la barra de imágenes */
.image-bar {
    display: flex; /* Muestra los elementos en línea */
    justify-content: center; /* Centra los elementos horizontalmente */
    margin-top: 20px; /* Espaciado encima de la barra de imágenes */
}

/* Estilos para las imágenes individuales */
.image {
    width: 200px; /* Tamaño inicial de las imágenes */
    height: auto; /* Altura ajustable */
    margin: 0 10px; /* Espaciado entre las imágenes */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor de las imágenes */
    transition: transform 0.3s ease; /* Transición suave al aumentar el tamaño */
}

/* Efecto de escala al pasar el cursor sobre las imágenes */
.image:hover {
    transform: scale(2.1); /* Aumenta el tamaño al pasar el cursor sobre la imagen */
}
