body{
    font-family: georgina;
    background-color:    #F3F0E9 ;
    background-image: url(imagenes/im3.jpg);
    background-repeat: no-repeat;
    background-size: 1450px,700px;
    font-size-adjust: auto;

}
.titulo{
    text-align: center;
    position: absolute;
    left: 55%;
    top: 30%;
    color: white;
    font-size: 80px;

}
.mar{
    position: absolute;
    left: 70%;
    top: 80%;
    color: white;
    font-size: 30px;
}
.alexis{
    position: absolute;
    left: 70%;
    top: 70%;
    color: white;
    font-size: 30px;
   
}
h4{
    position: absolute;
    left: 70%;
    top: 90%;
    color: white;
    font-size: 25px;
    
}
.sub{
    font-family: serif;
    font-size: 30px;
}
table{
    position: absolute;
    top: 105%;
    border-collapse: collapse;
    width: 100%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
td{
    border-bottom: 100px;
}
.im1{
    background-position: ;
    width: 600px;
    height: auto;
    margin: 0;
    border-radius: 20px;
}
p{
    align-content: center;
    font-family: sans-serif;
}
tr:hover{
    background-color:  #00000000;
    color: black;
    font-size: 20px;

}
td:hover{
    background-color:  #00000000;

}
